<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2022</p>
            <div class="h5">Certification</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5"><a
                href="https://www.coursera.org/account/accomplishments/specialization/P7A2CNJ3U4QB?utm_source=link&utm_medium=certificate&utm_content=cert_image&utm_campaign=sharing_cta&utm_product=s12n"
                target="_blank"> Full Stack Web Development with Angular Specialization (Coursera) </a></div>
            <h4 class="category">Hong Kong University of Science and Technology
            </h4>
            <ul>
              <li> Front-End Web UI Frameworks and Tools: Bootstrap 4 </li>
              <li>Front-End JavaScript Frameworks: Angular</li>
              <li>Server-side Development with NodeJS, Express and MongoDB</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2016 - 2017</p>
            <div class="h5">Professional Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Barrister at Law (Second Class Upper Division)</div>
            <h4 class="category">Nigerian Law School
            </h4>
            <ul>
              <li>
                Distinction in Corporate Law and Property Law Practice
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2011 - 2016</p>
            <div class="h5">Bachelor's Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Bachelor of Laws (Second Class Upper Division)</div>
            <h4 class="category">Obafemi Awolowo University
            </h4>
            <!-- <ul>
              <li>The Secondary aims at Maths , English , Science, Social Science, Litrature and Languages.
              </li>

              <li>
                Completed my Secondary school with <b>84%</b>.
              </li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>